@charset "ISO-8859-1";

/********************

 * Main Page Styles *
 
 ********************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #2f303a;
	color: #1c1e21;
	direction: ltr;
	line-height: 1.34;
	margin: 0;
}

a {
	text-decoration: none;
}

.container {
	background-color: #171e24;
	max-width: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 70px;
	padding-bottom: 130px;
	flex-wrap: wrap;
}

.navbar {
	justify-content: right;
	font-size: 20px;
	font-weight: bold;
	padding-right: 50px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: #171e24 !important;
}

/* .hidden-message {
  	display: none;
} */

.form-check-input:checked {
    background-color: #8f13fe;
    border-color: #8f13fe;
}

.form-check-input:hover {
	cursor: pointer;
}

/* .form-check-input:hover + .hidden-message {
    display: block;
  	color: red;
}
 */
img {
	 height: 25px;
 	 width: 25px;
}

/*********

 * TITLE *
 
 *********/
.title-container {
	width: 498px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin: 0 70px 75px 0;
	overflow: hidden;
}

.title-logo {
	font-family: Klavika, Helvetica;
	font-weight: bold;
	color: #fff;
	font-size: 60px;
	margin-bottom: -2px;
}

.title-paragraph {
	font-family: Helvetica;
	font-size: 28px;
	margin-bottom: -2px;
	color: #8f13fe;
}

/********

 * FORM *
 
 ********/

/* .form-container {
	background-color: transparent;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	overflow: auto;
} */
.Login-container {
	text-align: center;
	background-color: #121212;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgb(0 0 0/ 10%), 0 8px 16px rgb(0 0 0/ 10%);
	margin: 40px 0 0;
	padding: 20px 0 28px;
	width: 396px;
}

.input-container {
	border: 1px solid #1e1e1e;
	color: #ffffff;
	height: 48px;
	border-radius: 6px;
	padding: 14px 16px;
	width: 365px;
	margin-bottom: 15px;
	background: #1e1e1e;
}

.input-container:focus-within {
	border-color: #121212;
	box-shadow: 0 0 0 2px #121212;
}

.input-container:focus {
	outline: none;
}

.input-container:focus::placeholder {
	opacity: 0.5;
}

.input-container::placeholder {
	opacity:1.99;
}

.login-button {
	border: 1px solid #dddfe2;
	background-color: #00875a;
	font: 20px Helvetica, Arial, sans-serif;
	color: #ffffff;
	text-align: center;
	border: none;
	border-radius: 6px;
	font-size: 20px;
	line-height: 48px;
	padding: 0 16px;
	width: 365px;
	border: none;
	margin-bottom: 15px;
}

.login-button:hover {
	background: #006644;
}

.form-forgot-password {
	font-size: 15px;
	color: #00875a;
}

.form-forgot-password:hover {
	text-decoration: underline;
	color: #00875a;
}

.divider {
	border-bottom: 1px soild #1e1e1e;
	margin: 20px 16px;
}

.signup-button {
	border-radius: 6px;
	font-size: 17px;
	line-height: 48px;
	padding: 14px;
	cursor: pointer;
	background-color: #ffb300;
	color: #fff;
	transition: 200ms cubic-bezier(.08, .52, .52, 1) background-color, 200ms
		cubic-bezier(.08, .52, .52, 1) box-shadow, 200ms
		cubic-bezier(.08, .52, .52, 1) transform;
	-webkit-font-smoothing: antialiased;
	font-weight: bold;
	text-decoration: none;
}

.signup-button:hover {
	background: #ffa000;
	color: white;
}

.create-a-page-paragraph {
	font-size: 15px;
	margin-top: 20px;
	text-align: center;
	color: #8f13fe;
}

.create-a-page:hover {
	text-decoration: underline
}

.footer {
	margin: 0 40px;
	width: auto;
	font-family: inherit;
	display: block;
}

/***W3Schools success alert when signup is successful***/
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: var(--bodyBackground);
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
  width: 396px;
}

.alert.success {
	background-color: #006644;
}

.closebtn {
  margin-left: 15px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: var(--bodyFontColor);
}