@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
/*Background Section Start*/
body {
	font-family: "Roboto", sans-serif;
	background-image: url(../images/lightBckGrd.png);
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
}

body::before {
	position: absolute;
	content: "";
	background: #ffffff;
	width: 100%;
	height: 100vh;
	opacity: 0.6;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

/*Background Section end*/
/*From Section Start*/
.sign-up-form {
	width: 425px;
	height: 550px;
	box-shadow: 0px 5px 8px 3px #aaaa;
	border-radius: 5px;
	background: white;
	z-index: 10;
	position: relative;
}
/*1st title and sub-title start*/
.first_title {
	font-size: 32px;
	padding: 10px 10px 0px 10px;
}

.cancel-img {
	align-self: right;
	height: 25px;
	width: 25px;
	position: absolute;
	right: 10px;
	top: 12px;
	z-index: 2;
	cursor: pointer;
}

.first_sub_title {
	color: #606770;
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 12px;
	margin-left: 10px;
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 15px;
	line-height: 24px;
	margin-bottom: 12px;
}

hr {
	margin-top: 10px;
	opacity: 25%;
}

.signup-input-container {
	background: #ffffff;
}

/*1st title and sub-title end*/
/*Input section start*/
#all {
	width: 180px;
	border-radius: 5px;
	background: #f5f6f7;
	height: 35px;
	border: 1px solid #aaaa;
	font-size: 15px;
	margin-left: 12px;
	margin-top: 10px;
	padding-left: 10px;
}

#all1 {
	width: 390px;
	background: #f5f6f7;
	height: 35px;
	border: 1px solid #aaaa;
	border-radius: 5px;
	font-size: 15px;
	margin-left: 12px;
	margin-top: 10px;
	padding-left: 10px;
}
/*Input section end*/
/*Date of birth section start*/
.sub_title_2 {
	margin-top: 10px;
	font-size: 12px;
	color: #606770;
	margin-left: 10px;
	margin-bottom: -6px;
}

.question-mark {
	font-size: inherit;
	line-height: 12px;
	max-width: 150px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	cursor: pointer;
}

.question-mark-imag {
	width: 12px;
	height: 12px;
	margin-left: -5px;
	background-position: 0 -60px;
	background-image: url(../images/questionMarks.png);
	background-size: 22px 73px;
	background-repeat: no-repeat;
	display: inline-block;
	font-style: italic;
}

select {
	width: 125px;
	margin-left: 10px;
	margin-top: 10px;
	height: 35px;
	font-size: 15px;
	background: none;
	border: 1px solid #aaaa;
	border-radius: 5px;
}
/*Date of birth section end*/
/*Gender section start*/
.sub_title_3 {
	margin-top: 10px;
	font-size: 12px;
	color: #606770;
	margin-left: 10px;
	margin-bottom: -2px;
}

.all_gender {
	width: 110px;
	height: 25px;
	border: 1px solid #aaaa;
	padding: 10px 0px 0px 10px;
	border-radius: 5px;
}

.gender-container {
	display: flex;
	margin-left: 10px;
	margin-top: 5px;
	margin-right: 10px;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 411px;
	font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
}

.gender-lable {
	width: 110px;
	height: 25px;
	border: 1px none #aaaa;
	border-radius: 5px;
	color: #1d2129;
	font-size: 15px;
	font-weight: normal;
	line-height: 18px;
	padding: 0 10px 0 6px;
}

.gender-radio {
	margin: 0px 0px 0px 18px;
}

.invisible-letters {
	color: #ffffff;
	font-size: 15px;
}

/*Gender section end*/
/*last section start*/
.fine-print {
	padding: 0 16px;
	color: #777;
	font-size: 11px;
}

a {
	text-decoration: none;
}

.fine-prin-hover:hover {
	cursor: pointer;
	text-decoration: underline;
	color: blue;
}

.submit {
	width: 200px;
	height: 40px;
	background: #0ebd02;
	border-radius: 5px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
	margin-left: 25%;
	margin-top: 20px;
}

.submit:hover {
	background: #6a9d5d;
	cursor: pointer;
}
/*last section end*/